<a href="https://colab.research.google.com/github/pcpiscator/01T2021/blob/main/Iris(exerc%C3%ADcio_sep%3D%22%3B%22).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from dateutil.parser import parse
import sklearn 
%matplotlib inline

In [9]:
iris = pd.read_csv("https://raw.githubusercontent.com/pcpiscator/01T2021/main/IRIS.csv", error_bad_lines=False, encoding = "ISO-8859-1", sep = ";")
print (iris)

           Column1.1        Column1.2        Column1.3        Column1.4
0    comp.sepala(cm)  larg.sepala(cm)  comp.petala(cm)  larg.petala(cm)
1               5.01             3.05              1.4              0.2
2               4.09             3.00              1.4              0.2
3               4.07             3.02              1.3              0.2
4               4.06             3.01              1.5              0.2
..               ...              ...              ...              ...
147             6.03              2.5              5.0              1.9
148             6.05              3.0             5.02               2.
149             6.02             3.04             5.04              2.3
150             5.09              3.0             5.01              1.8
151              NaN              NaN              NaN              NaN

[152 rows x 4 columns]

In [10]:
iris.head()

         Column1.1        Column1.2        Column1.3        Column1.4
0  comp.sepala(cm)  larg.sepala(cm)  comp.petala(cm)  larg.petala(cm)
1             5.01             3.05              1.4              0.2
2             4.09             3.00              1.4              0.2
3             4.07             3.02              1.3              0.2
4             4.06             3.01              1.5              0.2